body{
	background:gray;
}
nav{
	width:20%;
	border:1px dotted blue;
	float:left;
	background:green;
	text-align:center;
}
section{
	width:75%;
	border:1px solid blue;
	float:left;
	background:yellow;
	padding:5px;
}
kalendarz{
	text-align: center;
	background: red;
	color: white;
	font-weight: bold;
}
