<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<form>
  <fieldset>
    <legend>Fromularz kontaktowy</legend>
    
    <div class="form-group">
      <label for="exampleInputEmail1">Adress Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wpisz Email" required>
      
    </div>
    
    <div class="form-group">
      <label for="exampleSelect1">Ocena Serwisu (1-5)</label>
      <select class="form-control" id="exampleSelect1" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect2">Zaznacz które strony się podobały</label>
      <select multiple="" class="form-control" id="exampleSelect2" required>
        <option>Strona główna</option>
        <option>Slider</option>
        <option>Fancybox</option>
        <option>cauresl</option>
        <option>Formularz</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Napisz ewentualny komentarz</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Wyślij zdjęcie znalezionego błędu</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Dziękuję za każdą kooperację z serwisem.</small>
    </div>
    <fieldset class="form-group" required>
      <legend>Lubisz naleśniki?</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">tak</label>
      </div>
      <div class="form-check">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">nie</label>
      </div>
      <div class="form-check disabled">
      <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">zastanawiam się</label>
      </div>
    </fieldset>
    <fieldset class="form-group" >
      <legend>Zapoznałeś się z regulaminem?</legend >
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" checked="">Nie ma regulaminu</label>
      </div>
      
    </fieldset>
    <fieldset class="form-group">
      <legend>Poziom śmieszności</legend>
      <label for="customRange1">Zakres mocy!</label>
      <input type="range" class="custom-range" id="customRange1">
    </fieldset>
          
	<input type="submit" id="btnSubmit"/>
        </form>
		 
	<script>
		jQuery("form").submit(function (e) {
			e.preventDefault();
			//or
			//return false;
		});
   </script>
  </fieldset>
</form>
		
		