#slider{
    width: 90%;
    margin: auto;
    position: relative;
}
#slider #slides{
    width: 80%;
    margin: 20px auto 0 auto;
    text-align: center;
}
#slider #slides .slide{
    display: none;
}
#slider #slides .active{
    display: block;
}
.navi{
    position: absolute;
    top: 120px;
    font-size: 4em;
    color: #005cbf;
    cursor: pointer;
}
.prev{
    left: 170px;
}
.next{
    right: 170px;
}
